

body {
    background-image: url("bg.jpg");
}

p {
    color: #8f8f8f;
    line-height: 1.5em;
    font-weight: bold;
    
}
hr {
    
    border-bottom: none;
    width: 35%;
    
    margin: 5px;
  }

.side-bar {
    
    margin-top: 4rem;
    text-align: right;
}


  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  .card-deck {
      margin:5% 5% auto;
  }

  .card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: fill;
}

.card {
    height: 25rem;
}

.card-footer {
    padding-bottom: 0px;
    padding-top: 0px;
}

.btn:hover {
    border-color: #2ea595;
}
.bt {
background-color: #67EEDD;
border-color: #0de7ca;
font-size: 20px;
padding: 5% 10%;
margin-bottom: 10%;
font-weight: bold;
border-radius: 3%;
color: white;
}

.bt2 {    
border-color: #8f8f8f;
background-color: white;
font-size: 10px;
padding: 3% 7%;
margin-bottom: 40%;
font-weight: bold;
border-radius: 1%;
border-width: 1px;
color:#8f8f8f;

}

.btn3 {    
    
    margin-bottom: 1rem;
    
    
    }

h7 {
    font-size: 12px;
    color:#a8a7a7;    
    font-weight: bold;
    

}

.contact p{
    font-size: 12px;
    color:#c9c9c9;
    margin-bottom: 2rem;
}

.copy {
    font-size: 12px;
    color:#dfdfdf;
}

.card-footer{
    background-color: white;
}

.card-text {
    margin-bottom: 0;
    background-color: white;
}

.responsive{
    padding-left: 195px;
    
}

.container-fluid {
margin-bottom: 7%;

}